@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "tailwindcss";

@theme{
  --font-main:"Titillium Web", sans-serif;
  --font-sec:"Space Grotesk", sans-serif;
  --font-third:"Red Hat Display", sans-serif
}
html, body {
  overflow-x: hidden; 
}
