
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



@import "tailwindcss";


* {
  font-family: 'Outfit', 'Quicksand', 'Noto Sans', sans-serif;
}

html, body {
  overflow-x: hidden;
  font-family: 'Outfit', 'Quicksand', 'Noto Sans', sans-serif;
}
